<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DSDT</key>
	<string>/Extra/DSDT.aml</string>
	<key>DropSSDT</key>
	<string>Yes</string>
	<key>EnableC2State</key>
	<string>Yes</string>
	<key>EnableC3State</key>
	<string>Yes</string>
	<key>EthernetBuiltIn</key>
	<string>Yes</string>
	<key>Graphics Mode</key>
	<string>1366x768x32@59.989</string>
	<key>Kernel</key>
	<string>mach_kernel</string>
	<key>Kernel Flags</key>
	<string>npci=0x3000 darkwake=0 PCIRootUID=1</string>
	<key>Legacy Logo</key>
	<string>Yes</string>
	<key>PciRoot</key>
	<string>1</string>
	<key>SMBIOS</key>
	<string>/Extra/smbios.plist</string>
	<key>Timeout</key>
	<string>2</string>
	<key>UseKernelCache</key>
	<string>Yes</string>
</dict>
</plist>
